<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="MyAfterReturningAdvice" class="com.LHR13.aop.api.MyAfterReturningAdvice"></bean>

    <bean id="MyBeforeAdvice" class="com.LHR13.aop.api.MyBeforeAdvice"></bean>

    <bean id="MyMethodInterception" class="com.LHR13.aop.api.MyMethodInterception"></bean>

    <bean id="MyThrowsAdvice" class="com.LHR13.aop.api.MyThrowsAdvice"></bean>

    <bean id="bizLogicImplTarget" class="com.LHR13.aop.api.BizLogicImpl"></bean>

    <bean id="bizLogicImpl" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.LHR13.aop.api.BizLogic</value>
        </property>
        <property name="target">
            <ref bean="bizLogicImplTarget"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>MyBeforeAdvice</value>
                <value>MyAfterReturningAdvice</value>
                <value>MyMethodInterception</value>
                <value>MyThrowsAdvice</value>
            </list>
        </property>
    </bean>
</beans>